<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mecanum_wheel" params="prefix parent xyz rpy">

    <link name="${prefix}_wheel_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="6.5"/>
        <inertia
          ixx="0.0524193"
          ixy="0.0"
          ixz="0.0"
          iyy="0.0303095"
          iyz="0.0"
          izz="0.0303095"/>
      </inertial>

      <visual>
        <!-- URDF cylinders are along Z by default.
             Rotate by 90 deg around X so the wheel axis is Y. -->
        <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
        <geometry>
          <cylinder radius="0.12" length="0.087"/>
        </geometry>
        <material name="${prefix}_wheel_dark">
          <color rgba="0.2 0.2 0.2 0.8"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="1.57079632679 0 0"/>
        <geometry>
          <cylinder radius="0.12" length="0.087"/>
        </geometry>
      </collision>
    </link>

    <joint name="${prefix}_wheel_joint" type="continuous">
      <parent link="${parent}"/>
      <child link="${prefix}_wheel_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <axis xyz="0 1 0"/>
    </joint>

  </xacro:macro>

</robot>