<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e_with_gripper">

  <!-- Include the UR5e arm xacro -->
  <xacro:include filename="$(find robot_description)/urdf/arm.xacro"/>
  
  <!-- Include the Robotiq 2F-85 gripper xacro -->
  <xacro:include filename="$(find robot_description)/urdf/gripper/gripper.xacro"/>
  <xacro:robotiq_85_gripper/>

  

  <!-- Attach the gripper base to the UR5e tool frame -->
  <joint name="tool0_to_robotiq_85_base" type="fixed">
    <parent link="arm_tool0"/>
    <child link="robotiq_85_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>