<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="full_robot">

  <xacro:include filename="$(find robot_description)/urdf/mujoco_config.xacro"/>
  
  
  <!-- Wheel macro -->
  <xacro:include filename="$(find robot_description)/urdf/wheel.xacro"/>

  <!-- Arm + gripper xacro -->
  <xacro:include filename="$(find robot_description)/urdf/arm_with_gripper.xacro"/>

  <!-- Materials -->
  <material name="chassis_gray">
    <color rgba="0.45 0.45 0.45 1.0"/>
  </material>

  <!-- Base/chassis box.
       This is the main base link of the full robot. -->
  <link name="base_link">
    <inertial>
      <!-- MuJoCo chassis box:
           size="0.5 0.40 0.05" means full size 1.00 x 0.80 x 0.10
           mass="10"
      -->
      <origin xyz="0 0 0.14" rpy="0 0 0"/>
      <mass value="10.0"/>
      <inertia
        ixx="0.542"
        ixy="0.0"
        ixz="0.0"
        iyy="0.842"
        iyz="0.0"
        izz="1.367"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0.14" rpy="0 0 0"/>
      <geometry>
        <box size="1.00 0.80 0.10"/>
      </geometry>
      <material name="chassis_gray"/>
    </visual>

    <collision>
      <origin xyz="0 0 0.14" rpy="0 0 0"/>
      <geometry>
        <box size="1.00 0.80 0.10"/>
      </geometry>
    </collision>
  </link>

  <!-- frames for the LiDAR -->
  <link name="front_lidar_frame"/>

  <joint name="front_lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_lidar_frame"/>
    <origin xyz="0 0.4 0.2" rpy="0 0 1.57079632679"/>
  </joint>


  <link name="back_lidar_frame"/>

  <joint name="back_lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="back_lidar_frame"/>
    <origin xyz="0 -0.4 0.2" rpy="0 0 -1.57079632679"/>
  </joint>

  <!-- Front camera pose matches robot.xml's robot_camera.  The pi rotation
       about X converts MuJoCo's camera convention to a ROS optical frame. -->
  <link name="front_camera_frame"/>

  <joint name="front_camera_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_camera_frame"/>
    <origin xyz="0 0.51 0.22" rpy="-1.57079632679 0 -0.42760566673861"/>
  </joint>

  <!-- Match the MuJoCo chassis frame exactly: +Y is front and +X is left. -->

  <xacro:mecanum_wheel
    prefix="fr"
    parent="base_link"
    xyz="0.35 0.25 -0.1"
    rpy="0 0 -1.57079632679"/>

  <xacro:mecanum_wheel
    prefix="fl"
    parent="base_link"
    xyz="-0.35 0.25 -0.1"
    rpy="0 0 -1.57079632679"/>

  <xacro:mecanum_wheel
    prefix="rr"
    parent="base_link"
    xyz="0.35 -0.25 -0.1"
    rpy="0 0 -1.57079632679"/>

  <xacro:mecanum_wheel
    prefix="rl"
    parent="base_link"
    xyz="-0.35 -0.25 -0.1"
    rpy="0 0 -1.57079632679"/>

  <!-- Attach the arm rigidly to the mobile base. -->
  <link name="arm_mount_link"/>
  <joint name="base_to_arm_base" type="fixed">
    <parent link="base_link"/>
    <child link="arm_mount_link"/>
    <origin xyz="0 0 0.19" rpy="0 0 0"/>
  </joint>
  <xacro:mujoco_ros2_control_config/>
</robot>
